<html>
<h4>{{ current_user.username }} Cards!</h4>
<p>{{ win }}</p>
<p>Your cash: {{ current_user.cash }}</p>
<h5>Play Again?</h5>
<button type = "button"  id="playAgain" onclick ="gameRepeat()">Yes</button>
<button type = "button"  id="reset" onclick ="gameReset()">No</button>
<h1> </h1>
{%for hand in yourHands %}
    {% for card in hand %}
        <img src={{card}} width ="50px">
    {% endfor %}
    <br>
{% endfor %}
<br>


<hr>
<h6>Opponents' Cards!</h6>
{% for hand in others %}
    {% for card in hand %}
        <img src={{card}} width ="50px">
    {% endfor %}
<hr>
{% endfor %}
<hr>

<h6>Dealer Cards</h6>
{% for card in dealers %}
<img src={{card}} width ="50px">
{% endfor %}

<script type="text/javascript" charset="utf-8">
    var socket = io();

    function gameRepeat(){
        socket.emit("gameRepeat")
    }
    function gameReset(){
        socket.emit("gameReset")
    }
</script>


</html>