<html>
<h4>{{ current_user.username }} Cards!</h4>
<p>{{ win }}</p>
<p>Your cash: {{ current_user.cash }}</p>
<h5>Play Again?</h5>
<button type = "button"  id="playAgain" onclick ="gameRepeat()">Yes</button>
<button type = "button"  id="reset" onclick ="gameReset()">No</button>
<h1> </h1>
{%for hand in yourHands %}
    {% for card in hand %}
        <img src={{card}} width ="50px">
    {% endfor %}
    <br>
{% endfor %}
<br>


<hr>
<h6>Opponents' Cards!</h6>
{% for hand in others %}
    {% for card in hand %}
        <img src={{card}} width ="50px">
    {% endfor %}
<hr>
{% endfor %}
<hr>

<h6>Dealer Cards</h6>
{% for card in dealers %}
<img src={{card}} width ="50px">
{% endfor %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
 <script type="text/javascript" charset="utf-8">
 var socket = io();


 socket.on('connect', function(){
    console.log("CONNECTED!")
    socket.emit('con', {data: 'I\'m connected!'})

 });
setTimeout(gameLogOut, 50000)

 function gameRepeat(){
    socket.emit("gameRepeat")
 }
 function gameReset(){
    socket.emit("gameReset")
 }

 function gameLogOut(){
    socket.emit("gameLogOut")
 }

     socket.on("gameToRepeat", function(){
         console.log("Gonna Move it Move it!")
         location.href = "/game";
    })

      socket.on("gameToLogout", function(){
         console.log("Gonna Move it Move it!")
         location.href = "/logout";
    })
</script>


</html>