<html>
<h1>{{ current_user.username }} Cards!</h1>
<p>Your cash: {{ current_user.cash }}</p>
{% if betting %}
<form method="POST" id = "betForm" onsubmit="playerOne()">
    <input type ="number" max = "{{user.cash}}" name = "bet" id = "money">
    <input type="hidden" name ="id" value="{{ user.session }}" id = "userID">
    <input type = "submit" value = "Make bet">
</form>
{% else %}
{% for card in yourHand %}
 <img src={{card}} width ="100px">
{% endfor %}
<br>
{% if e %}
    <button type = "button"  id="hitButton" onclick ="hit()">Hit</button>
    <button type = "button"  id="stayButton" onclick = "stay()">Stay</button>
    <button type = "button"  id="splitButton" onclick="split()">Split</button>
{% else %}
<button type = "button" disabled="true" id="hitButton">Hit</button>
<button type = "button" disabled="true" id="stayButton">Stay</button>
<button type = "button" disabled="true" id="splitButton">Split</button>
{% endif %}

<hr>
<h1>Opponents' Cards!</h1>
{% for hand in others %}
    {% for card in hand %}
        <img src={{card}} width ="100px">
    {% endfor %}
<hr>
{% endfor %}
<hr>
<h1>Dealer Cards</h1>
{% for card in dealers %}
<img src={{card}} width ="100px">
{% endfor %}

{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();

    const hitButton = document.getElementById("hitButton")
    const stayButton = document.getElementById("stayButton")
    const splitButton = document.getElementById("splitButton")

    socket.on('connect', function(){
        console.log("CONNECTED!")
        socket.emit('addPlayer')
    });

    socket.on("reload", function(){
        socket.emit("dealOne")
        location.reload()
    })


    socket.on("activate", function(){
        hitButton.disabled = false
        stayButton.disabled = false
        splitButton.disabled=false
    })

    socket.on("enable", function(){
        socket.emit("test")
    })

    function playerOne(){
        var form = document.getElementById("betForm")
        form.style.display = "none";
        /*
        var betMoney = document.getElementById("money")
        var betUser = document.getElementById("userID")
        //getBet(betUser, betMoney)
        socket.emit("betMoney",{uid: betUser}, {bet: betMoney})
        */
    }

    function hit(){
        socket.emit("hit")
    }

    function stay(){
        socket.emit("stay")
    }

    function split(){
        socket.emit("split")
    }

    </script>
</html>